@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

.animated-text {
    font-size: 24px;
    transition: color 0.5s ease;
}

.animated-text:hover {
    color: #ff5733;
}

.animated-text:active {
    color: #33c1ff;
}

.hero {
    background-image: url('https://image.stern.de/30848970/t/V2/v5/w1440/r0/-/bond-goldfinger-1964.jpg');
    background-attachment: fixed;
    color: white;
    padding: 200px 0;
}

.footer {
    background-color: #f8f9fa;
    padding: 40px 0;
    position: relative;
    overflow: hidden;
}

.footer b {
    font-size: 24px;
    color: #343a40;
}

.footer img {
    transition: transform 0.3s;
}

.footer img:hover {
    transform: scale(1.1);
}

.social-icons a {
    margin: 0 10px;
    color: #343a40;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: #007bff;
}